<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <h3>Terms of Service</h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.<br/>
     This is official pool of <a href="https://mintme.com/coin" rel="nofollow" target="_blank">mintme.com/coin</a>, for any queries, please contact us on official email visible on our main page.
  </p>
</div>
