<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>
  <p>In order to mine on this pool you need to execute
    <a href="https://github.com/mintme-com/miner/releases" rel="nofollow" target="_blank">Mintme.com-coin-miner</a> with the following parameters:<br>
    <code>-o {{config.HttpHost}}:{{config.HttpPort}} -u &lt;address&gt; -p x</code>
  </p>
  <p>
    <strong>&lt;address&gt;</strong> is your address for payouts, generate one with webchaind.
  </p>
  <p>In case you have doubts on how to create a wallet, follow the steps <a href="https://github.com/mintme-com/webchaind#create-or-manage-accounts" rel="nofollow" target="_blank">Create or manage account(s)</a> on github.</p>
  <p>
    <strong>Full example:</strong>
    <code>webchain-miner -o {{config.HttpHost}}:{{config.HttpPort}} -u 0x9d837c82bc326ea0c31e15509007f184df75245e -p x</code><br/>
    Prefix <code>0x</code> must be added to generated address.<br>
  </p>
  <p>
    To mine on lower difficulty (12500), instead of <code>pool.webchain.network:3333</code>, use address <code>pool.webchain.network:2222</code>
  </p>

</div>
